.logo img {
    height: 350px;
    left: 350px;
    text-align: center;
}


.main-class{
    position:absolute;
   background: #312F5B;
   border-radius: 20%;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   padding: 60px;
   width: min-content;
}


