:root {
	--white: #fff;
	--black: #000000;
	--green: #a0a603;
	--yellow: #d97904;
	--red: #bf0404;
	--dark-red: #590202;
	--light-gray: #292929;
	--dark-gray: #111111;
	--stroke: #464242;
}

.cards-orders-container {
	display: flex;
	flex-wrap: wrap;
    flex-direction: row;
	justify-content: center;
	padding: 30px;
	margin-bottom: 40px;
	align-items: baseline;
	border-top: 1px solid var(--stroke);
	font-weight: bold;
	color: var(--black);

	span {
		font-weight: lighter;
	}

	p {
		align-self: center;
		margin-bottom: 0.5rem;
	}
}

.card-order-template {
	margin: 1rem;
	width: 320px;
	left: 44px;
	top: 579px;
	background: var(--stroke);
	border-radius: 10px;
	box-shadow: 2px 5px 5px hsl(0deg 0% 0% / 30%);
}

.card-order-info {
	padding: 20px;
	line-height: 20px;
}

.card-order-table {
	display: flex;
	justify-content: space-between;
	font-size: 24px;
	margin-bottom: 1rem;
}

.order-products {
	padding-top: 0.5rem;
	border-top: 1px solid var(--dark-gray);
}

