@import url("../global.css");

.cadastro {
  display: grid;
  margin-top: 170px;
  align-items: center;
  flex-direction: column;
}


.cargo {
  display:flex;
  align-items:center;
  padding-left: 45px;
  
}
.cargo-salao {
  display:flex;
  margin-top: 16px;
  align-items:center;
  width:150px;
}

.cargo-cozinha{
  display:flex;
  padding-bottom: 15px;
  margin-top: 16px;
  margin-left: 32px;
  align-items:center;
  width:150px;
}

.iconSalao, .iconCozinha {
 
  width: 100px;
  height: 100px;
}



 .cadastro-page-main{
  position: absolute;
  margin-top: 200px;
  width: 350px;
  height: 414px;
  left: 700px;
  color: var(--vermelho);;
  text-align: center;

}

.cadastro .cadastro-page-main .form-group {
  margin-bottom: 20px;
  
}

 .form-group input {
  background: var(--laranja);
  width: 100%;
  border: none;
  border-radius: 20px;
  color: var(--branco);
}

  input::placeholder {
  color: var(--branco);
  text-align: center;
}

.button-cadastro {
}
.tologin {
    color: var(--preto);

  }

.voltar-login {
  display: block;
}
