.container-cart {
  height: 100%;
  position: relative;
}

.data-clients {
  display: flex;
  justify-content: space-evenly;
}

.data-clients-input {
  border: 2px solid var(--color-red-font);
  background-color: transparent;
  width: 10vw;
  height: 2vh;
  color: black;
  margin: 5%;
  border-radius: 10px;
  padding: 5px;
}

.each-item-cart {
  display: flex;
  color: black;
  font-size: 0.7rem;
  font-weight: bold;
}

table {
  width: 100%; 
  color: black;
}

table td {
  overflow: hidden;
  white-space: nowrap;
  max-width: 50px;
  padding: 10px;
  font-size: 1rem;
}

.qtd-item,
.price-item {
  text-align: center;
}

.order-list {
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
}

.total-price {
  display: flex;
}

.total-price p {
  font-size: 1rem;
}

.order-total {
  color: black;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  margin: 25%;
}

.btn-send-order {
  width: 20vh;
  height: 5vh;
  color: white;
  font-weight: bold;
  font-size: 0.7rem;
  background-color: var(--color-red-font);
}
