.container-cart {
  height: 100%;
  position: relative;
}

.data-clients {
  display: flex;
  justify-content: space-evenly;
}

.data-clients-input {
  border: 2px solid #500405;
  background-color: transparent;
  width: 10vh;
  height: 5vh;
}

.each-item-cart {
  display: flex;
  color: black;
  font-size: 1rem;
  font-weight: bold;
}
.each-item-cart li {
    width: 30%;
}

.list {
  display: flex;
}

.total-price {
  display: flex;
}

.order-total {
  color: black;
  position: absolute;
  bottom: 0;
  margin-bottom: 15%;
  margin-left: 10%;
}
