* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

.fundo-login{
    display: block;
    width: 100%;
}

.fundo-desk{
    display: none;
}

.jesus-logo{
    width: 35%;
    margin-left: 34%;
    margin-top: -125%;
    position: fixed;
}

.jesus-desk{
    display: none;
    width: 25%;
    margin-top: -125%;
    margin-left: 10%;
    position: fixed;
    z-index: 1;
}

.hamburguer-login{
    display: none;
    width: 50%;
    margin-left: 50%;
    margin-top: -105%;
    position: fixed;
}

.form-login{
    margin-top: 10%;
    width: 100%;
    height: 600px;
    overflow: hidden;
    background-color: #fdff6adc;
    border-radius: 150px 150px 0px 0px;
    bottom: 0;
    position: fixed;
    align-items: center;
}

.form-inner{
    border: none;
    display:inherit;
}

.input-login{
    margin-top: 25%;
    margin-bottom: 5%;
}
.input-login, .input-password{
    width: 50%;
    height: 20px;
    margin-left: 22%;
    padding: 18px;
    border-radius: 10px;
    font-size: 22px;
    background: #e0dede;
    border: none;
    outline: none;
}

.form-error {
    margin-left: 30%;
    color: #fc0808;
}

.btn-login, .btn-register{
    width: 40%;
    height: 50px;
    justify-content: center;
    display: block;
    color: #fff;
    background: #884f1adb;
    font-size: 25px;
    margin: 8% 30%;
    border-radius: 10px;
    cursor: pointer;
}

.btn-login:hover{
    background: #91541c;
}
.btn-register:hover{
    background: #91541c;
}

.link-register{
    width: 40%;
    height: 50px;
    margin-left: 30%;
    justify-content: center;
    color: #884f1adb;
}

.icons-input{
    font-size: 135%;
    margin-left: 70%;
    margin-top: -5%;
    display: flex;
    position: absolute;
}

.fa-envelope{
    color: #47423a;
    margin-top: -37px;
}

#hide, #hide-again, #hide-login{
    display: none;
}

/* .footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 40px;
    padding-top: 8px;
    color: white;
    background: #884f1adb;
    font-weight:lighter;
    font-size: 17px;
    text-align: center;
}

.footer a {
    padding: 3px;
    color: white;
} */

@media screen and (min-width: 425px) and (max-width: 767px){
    .jesus-logo{
        width: 35%;
    }

    .form-login{
        width: 100%;
        height: 300px;
        border-radius: 80px 80px 0px 0px;
    }
    
    .input-login{
        margin-top: 15%;
        margin-bottom: 4%;
    }
    .input-login, .input-password{
        width: 43%;
        margin-left: 25%;
        padding: 10px;
        border-radius: 10px;
        font-size: 15px;
    }

    .btn-login, .btn-register{
        width: 25%;
        height: 30px;
        font-size: 17px;
        margin-left: 38%;
    }

    .fa-envelope{
        margin-top: -12px;
    }

    .icons-input{
        font-size: 90%;
        margin-left: 65%;
        margin-top: -7%;
    }

    .footer{
        height: 5%;
        font-size: 12px;
    }
}

@media screen and (min-width: 700px) and (max-width: 1023px) {
    .jesus-logo{
        width: 25%;
        margin-left: 38%;
        margin-top: -130%;
    }

    .form-login{
        width: 100%;
        height: 400px;
        border-radius: 100px 100px 0px 0px;
    }

    .input-login{
        margin-top: 10%;
        margin-bottom: 4%;
    }
    .input-login, .input-password{
        width: 43%;
        margin-left: 26%;
        padding: 15px;
        font-size: 18px;
    }

    .fa-envelope{
        margin-top: -25px;
    }

    .icons-input{
        margin-left: 67%;
    }

    .btn-register, .btn-login{
        width: 25%;
        height: 40px;
        margin-left: 38%;
        margin-top: 3%;
        font-size: 20px;
    }

    .link-register{    
        margin-left: 39%;
        margin-top: -5%;
    }

}



@media screen and (min-width: 1024px) and (max-width: 1800px) {
    .fundo-login, .jesus-logo{
        display: none;
    }

    .fundo-desk{
        display: block;
        width: 100%;
        /*height: 100vh;*/
    }
    
    .jesus-desk{
        display: block;
        width: 15%;
        margin-left: 13%;
        margin-top: -59%;
    }
    
    .hamburguer-login{
        display: block;
        width: 38%;
        margin-top: -57%;
        margin-left: 53%;
    }

    .form-login{
        width: 43%;
        height: 100%;
        border-radius: 0px 130px 130px 0px;
        background-color: #fafc70;
    }

    .input-login{
        margin-top: 50%;
    }
    .input-login, .input-password{
        width: 50%;
        height: 25px;
        margin-left: 18%;
        border-radius: 20px;
        font-size: 22px;
    }

    .fa-envelope{
        margin-top: -28px;
    }

    .icons-input{
        font-size: 160%;
        margin-left: 65%;
        margin-top: -8%;
    }

    .btn-login, .btn-register{
        width: 36%;
        height: 50px;
        margin-left: 28%;
        font-size: 28px;
    }

    .link-register{
        margin-top: -3%;
    }

    .footer{
        width: 66%;
        height: 25px;
        font-size: 18px;
        margin-left: 34%;
        border-radius: 40px 0px 0px;
    }
}