
$breakpoints: (
    'medium': (min-width: 800px),
    'large': (min-width: 1000px),
    'huge': (min-width: 1200px),
);


.mainBox{
    background: rgba(244, 244, 244, 0.52);
    height: 100%;
    width: 100%;
}


.imgLogo{
    height: 34vh;
    margin: 0vh 8vh;
}

.title{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6em;
    font-style: normal;
    font-weight: 1000;
    text-align:center;
    text-transform: uppercase;
    color: #008F83;
    justify-content:center;
    margin: 8vh 0 5vh;
}

.form{
    justify-content:center;
    text-align:center;
}

.buttonLogin{
    width: 32vh;
    height: 20vh;
    margin: 0;
    display: flex;
}

.phraseLogin{
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    text-align: center;  
    font-size: 1.1em;
    margin: 4vh 3vh;
        a {
            color: black;
            font-weight: bold;
            text-decoration: none;
        }
}

@media screen and (min-width: 768px) {

    .mainBox{
        display: flex;
        margin: 5rem 0 0 0;
    }
    .loginBox { 
        display: flex;
        flex-wrap: wrap;
        width: 40vw;
        height: 70vh;
        background-color: #fff;
        align-items: center;
        justify-content:center;
        border: 1px solid #008f83;
        border-radius: 20px;   
        margin-left: 4rem;
    }

    .imgLogo{
        width: 30vw;
        height: 50vh;
        margin-top: 6rem;
    }
}

