.Login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #03e5b7;
    background-image: linear-gradient(315deg, #03e5b7 0%, #037ade 74%); 
    height: 100vh;  
}

.login-form{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff8c;
    border-radius: 1.5rem;
    z-index: 3;
    max-width: fit-content;
    box-shadow: 1px 1px 10px #888888;
}
.txt-login {
    margin-bottom: 2rem;
    color: #000000ad;
}
.LoginInput {
    padding: 1rem;
    display: flex;
    border-radius: 2rem;
    margin: 0.5rem;
    height: 30px;
    width: 250px;
    outline: none;
    border: none;
    box-shadow: 1px 1px 1px #e0e0e0;
}

.Login-container button {
    padding: 5px 20px ;
    border-radius: 15px;
    background-color: #f38a8aeb;
    border: none;
    cursor: pointer;
    color: white;
    transition: .2s;
}

.Login-container button:hover{
    background-color: #ff6161eb;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.btn-container-login {
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
}