@import url("../global.css");

.login {
  display: grid;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.h1-login {
  display: grid;
}

.login-page-main {
  position: absolute;
  margin-top: -20px;
  width: 350px;
  height: 414px;
  left: 700px;
  top: 228px;
  color: var(--laranja);
  text-align: center;
}

.form-group {
  display: grid;
  margin-bottom: 20px;

}

input::placeholder {
  color: var(--branco);
  text-align: center;
}

.botao-login {
  padding-left: 90px;
  
}

.tocadastro {
  color: var(--preto);
  padding-left: 90px;
}

.novo-cadastro {
  color: var(--vermelho);
  display: block;
  padding-left: 90px;
}
