
@mixin inputPros {
    width:70%;
    height:40px;
    top: 200px;
    border-radius:10px;
    border: 1px solid #008F83;
    margin: 5px;
    padding: 5px;
    font-weight:bold;
    text-transform:uppercase;
}

.input {
    @include inputPros;
}

.input.primary {
    height: 35px;
}

@media screen and (min-width: 1180px){
   .input.primary{
       width: 50%;
   }
}