:root {
    --red-color: #AB2328;
    --orange-color: #D79A2B;
    --orange-color-hover: #5f420d;
    --yellow-color: #F8EF5B;
    --green-water-color: #40C1AC;
    --brown-color: #5C3D31;
    --red-hover: #360608;
    --white-color: #FFF; 
    --gray-color: #e1e0e48c;
    --eye-color: #9a999c;
    --shadow-color: #00000081;
}

/* COMEÇO DO CARRINHO(AQR:CARTAREA)*/
.container-cart{
    margin: 2% 1%;
    background: white;
    display: flex;
    float: right;
    flex-direction: column;
    width: 35%;
    box-shadow: 0px 0px 20px 5px var(--shadow-color);
    border-radius: 20px;
}

.cart{
    display: flex;
    align-items: flex-start;
    padding: 5%;
    flex-direction: column;
}

.text-cart{
    display: flex;
    justify-content: center;
}

.info-card{
    background: #40c1accc;
    width: 100%;
    height: 30px;
    border-radius: 15px;
    padding: 0 5px;
    margin: 1% 1%;
    font-size: 20px;
    font-weight: 550;
    display: flex;
    align-items: center;
}

.input-client{
    border: none;
    background: none;
    font-size: 20px;
}

.input-client:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.btn-request{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 3% 15%;
}

.total{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

/* FIM DO CARRINHO(AQR:CARTAREA)*/


/* COMEÇO DOS PRODUTOS(AQR:ITEMCARD)*/
.img-product{
    width: 70%;
    clip-path: circle(85px);
}

.container-products{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.products{
    background-color: #f8f05b79;
    width: 38%;
    border-radius: 20px;
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px var(--red-color);
}

.info-product{
    font-size: 23px;
    margin: 3%;
}

.price{
    display: flex;
    background-color: #D79A2B;
    width: 95%;
    height: 30px;
    font-size: 21px;
    border-radius: 9px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 2% 2% 2%;
}
/* FIM DOS PRODUTOS(AQR:ITEMCARD)*/

/* COMEÇO DOS ITENS CARRINHO(AQR:CARTITEM)*/
.container-products-cart{
    background: #F8EF5B;
    width: 100%;
    border-radius: 20px;
    margin: 2% 0;
    padding: 0 1%;
    font-size: 17px;
}

.container-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}
/* FIM DOS ITENS CARRINHO(AQR:CARTITEM)*/

/* COMEÇO DOS CARDS DE PEDIDOS (AQR:ORDERS)*/
.container-orders{
    background-color: #f8ef5b6e;
    background-color: var(--white-color);
    border: solid 1px var(--red-color);
    border-radius: 30px;
    box-shadow: 0px 0px 21px 3px var(--shadow-color);
    margin: 2% 1%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.container-info-orders{
    font-size: 20px;
    padding: 0 2%;
    width: 100%;
}

.container-products-order{
    display: flex;
    background-color: #f8ef5b96;
    width: 1000%;
    height: 100px;
    padding: 1%;
    margin: 1%;
    font-family: system-ui;
}

.container-status{
    width: 100%;
}

.status{
    font-size: 20px;
    width: 20%;
    border-radius: 15pc;
    padding: 0 1%;
    margin: 1% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pending{
    background-color: #ff2c2cbf;
    color: white;
}

.processing{
    background-color: #D79A2B;
    color: white;
}

.ready{
    background-color: #40C1AC;
    color: white;
}

.done{
    background-color: #360608;
    color: white;
}

.time{
    padding: 2%;
    font-size: 18px;
}

.hour{
    color: red;
    font-size: 20px;
}

.container-btn-status{
    width: 100%;
}

.btn-status{
    font-size: 19px;
    width: 100%;
    border-radius: 15pc;
    margin: 1% 0;
    border: none;
}

.status-pending{
    background-color: #ff2c2cbf;
    color: white;
}

.status-processing{
    background-color: #D79A2B;
    color: white;
}

.status-ready{
    background-color: #40C1AC;
    color: white;
}

.status-done{
    background-color: #5C3D31;
    color: white;
}

.status-pending:hover{
    background-color: #2e0606bf;
}

.status-processing:hover{
    background-color: #093d34;
}

.status-ready:hover{
    background-color: #180a04;
}

.change-status{

}
/* FIM DOS CARDS DE PEDIDOS (AQR:ORDERS)*/
