.container-register {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo-register {
  width: 30%;
  height: 35%;
  background-image: url("../../img/Logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.register {
    margin: 5%;
    width: 30%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fcb056;
    border-radius: 20px;
}

.register-form-group {
  width: 80%;
  margin-bottom: 8%;
}

.button-register {
  background-color: #d72929;
  color: #fff;
  border-radius: 15px;
  border: none;
  width: 150px;
  height: 40px;
  cursor: pointer;
  font-weight: bold;
}

.register-options {
	color: #c65758;
	font-size:  min(18px, 3vw);
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 4%;
}

.go-of-register {
  font-size: 0.8rem;
} 

@media screen and (max-width: 992px) {
  .logo-register{
    width: 45%;
  }

  .container-register {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .register {
    margin: 5%;
    width: 45%;
    height: 80%;
  }

  .register-input {
    font-size: 1.0rem;
  }

  .button-register {
    width: 145px;
    height: 40px;
    margin: 3%;
  }

  .go-of-register {
    font-size: 1.0rem;
  } 

}

@media screen and (max-width: 767px) {
  .logo-register{
    width: 45%;
  }

  .container-register {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .register {
    margin: 5%;
    width: 45%;
    height: 80%;
  }

  .button-register {
    width: 130px;
    height: 35px;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    margin: 3%;
  }

  .go-of-register {
    font-size: 1.0rem;
  } 

}

@media screen and (max-width: 569px) {
    .logo-register{
      width: 45%;
    }

    .container-register {
      flex-direction: column;
      justify-content: start;
    }

    .register {
      margin: 5%;
      width: 70%;
      height: 65%;
    }

    .register-input {
      font-size: 0.7rem;
    }

    .button-register {
      width: 130px;
      height: 30px;
      cursor: pointer;
      font-size: 0.7rem;
      font-weight: bold;
      padding: 4%;
    }

    .go-of-register {
      font-size: 0.8rem;
    } 
}


