.ocean-container{
    background-color: #03e5b7;
    background-image: linear-gradient(315deg, #03e5b7 0%, #037ade 74%); 
}

.register-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.txt-register {
    margin-bottom: 2rem;
    color: #000000ad;
    font-family: Bob; 
}

.logo-register {
    margin-top: 1rem;
}

.register-img{
    width: 10rem;
}
.register-container button {
    padding: 1rem;
    border-radius: 2rem;
    background-color: #f38a8aeb;
    border: none;
    cursor: pointer;
    color: white;
    width: 20rem;
    margin: 0.5rem;
    transition: .2s;
    font-size: 16px;
}

.register-container button:hover{
    background-color: #ff6161eb;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.secret-text{
    color: #000000ad;
    font-family: Bob;
    margin-bottom: -1.5rem; 

}
.secret-text:hover {
    display: block;
}

.register-form {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff8c;
    border-radius: 1.5rem;
    z-index: 3;
    max-width: fit-content;
    box-shadow: 1px 1px 10px #888888;
}

.input-register{
    padding: 1rem;
    display: flex;
    border-radius: 2rem;
    margin: 0.5rem;
    width: 20rem;
    outline: none;
    border: none;
    box-shadow: 1px 1px 10px #888888;
}

.register-option{
   
    margin: 1rem;
    padding: 5px 20px ;
    border-radius: 15px;
    border: none;
    outline: none;
}

.input-option-select{
    padding: 1rem;
    margin: 1rem;
}

.Jelly-div{
    display: flex;
    padding: 0 3rem;
    flex-direction: row;
    justify-content: flex-start;
}

.jellyfish {
    width: 6.5rem;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}

.jellyfish:hover{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);

}
