$blue-color: #008F83;
$text-color: rgb(0 , 0 , 0);



.mainBox {
    background-color: rgba(244, 244, 244, 0.52);
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
}

.image {
    height: 35vh;
    width: 95vw; 
    margin-left: 15px;   
}

.titleRegister {
    font-family: 'Montserrat', sans-serif;
    font: size 24px;
    font-style: normal;
    font-weight: 1000;
    color: $blue-color;
    font-weight:bold;
    justify-content:center;
    text-align:center;
    text-transform:uppercase;
}

.form {
    justify-content:center;
    text-align:center;
}

.inputRadioBox {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.5rem;    
}

.labelRadioInput{
    margin: 0 2vh;    
}

.errorsMessage {
    color: red;
    font-weight: 500;
}

.phraseRegister {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1em;
    text-align:center;  
    justify-content:center;
    margin: 20px 0px;
        a {
            color:$text-color;
            font-weight:bold;
            text-decoration: none;
        }
}

@media screen and (min-width: 768px) {
    .mainBox{
        display: flex;
        margin: 4rem 0 0 0;
    }
    .image {
        height: 70vh;
        width: 60vw;
    }
    .signUpBox{
        border: 1px solid $blue-color;
        border-radius: 20px;
        width: 40vw;
        height: 65vh;
        margin-right: 3rem;
    }
}

@media screen and (min-width: 1190px){
    .mainBox{
        margin: 0 0 4rem 8rem;
    }
    .image{
        height: 70vh;
        width: 40vw;
    }
    .signUpBox{
        width: 30vw;
        height: 70vh;
    }
}