.box-item {
        font-size: 10px;
        width: 140px;
        height: 170px;
        background-color: #9B2D0A;
        border-radius: 22px;
        margin: 14px;
        margin-top: 50px;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        display: block;
}

.divButton{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 100%;
}

.img-food {
        width: 80px;
        height: 80px;
        border-radius: 45%;
        margin-left: -8px;
        margin-top: -30px;
        left: 0px;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.boxName{
        background-color: blanchedalmond;
        border-radius: 10px;
        margin: 10px 10px 5px 10px;
        height: 40px;
        align-items: center;
        display: flex;
}

.divName{
        font-size: 14px;
        padding: 10px;
}

.divPriceProducts{
        text-align: center;
        color: whitesmoke;
        font-size: 18px;
        padding: 3px;
}

.divFlavor{
        font-size: 14px;
        text-align: center;
        color: #DFB120;
}

.divComplement{
        font-size: 12px;
}

.icon-add {
        color: #9B2D0A;
}
.add-button{
        border-radius: 50%;
        border: solid 1px;
        background-color: #EAAF36;
        color: #9B2D0A;
        font-size: 10px;
        font-weight: 800;
        min-width: 30px;
        height: 30px;
        padding: 10px;
        margin-right: -5px;
        margin-top: -10px;
        align-items: center;
        box-shadow: 0px 4px rgb(0 0 0/25%);

      
}
/*.box-item{
        font-size: 10px;
        width: 120px;
        height: 150px;
        background-color: #9B2D0A;
        border-radius: 20px;
        margin: 20px;
        margin-top: 15px;
        justify-content: center;
}*/

/* container com todos os produtos */
/*.flex-container {
        display: flex;
        /* background-color: #F2DFBA; 
        flex-wrap: wrap;
        width: 58%;
        height: fit-content;
        /* box-shadow: 10px 5px 5px black; 
        /* background-color: aliceblue; 
} */




/*.button-menu {
    display: flex;
    justify-content: space-evenly;
    width: 49%;
    margin: 1%;
}
.menu-container {
        display: flex;
        background-color: blanchedalmond;

}*/


/*.container-order{
        display: flex;
        position: absolute;
        right: 0;
        /* background-color: black;
        flex-direction: column;
} */


