:root {
    --red-color: #AB2328;
    --white-color: #FFF; 
    --red-hover: #360608;
}

.buttons{
    color: var(--white-color);
    background-color: var(--red-color);
    border: none;
    width: 70%;
    height: 40px;
    font-size: 20px;
    border-radius: 15px;
    margin: 4% 0 0 0;
}

.buttons:hover{
    background-color: var(--red-hover);
}
