
.button-global {
    font-size: 1rem;
    font-family: var(--type-first);
    cursor: pointer;
    border: none;
    border-radius: 0.4rem;
    background: #9B2D0A;
    color: #fff;
    min-width: 8rem;
    padding: 0.8rem 1.2rem;
    box-sizing: border-box;
    transition: 0.1s;
    margin-left: 8%;
}
.button-global:hover,
.button-global:focus{
    outline: none;
    box-shadow: 0 0 0 3px #fff,
    0 0 0 4px #EAAF36;
}

.button-orders{
    background-color: transparent;
    font-size: 1rem;
    min-width: 11rem;
    border: none;
    transition: 0.1s;
    cursor: pointer;
    border-radius: 0.4rem;
    padding: 0.8rem 1.2rem;
    background-color: #9B2D0A;
    color:white;
}

.button-orders:hover{
    outline: none;
    /* box-shadow: 0 0 0 0px; */
    background-color: #EAAF36;;

}

.btn-menu{
    background-color: transparent;
    font-size: 1rem;
    min-width: 8rem;
    border: none;
    transition: 0.1s;
    cursor: pointer;
    border-radius: 0.4rem;
    padding: 0.8rem 1.2rem;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    background-color: #9B2D0A;
    color:white;
}

.btn-menu:hover{
    outline: none;
    /* box-shadow: 0 0 0 0px; */
    background-color: #EAAF36;
}

