@import '../../styles/Global.scss';

/*Portrait Ipad MINI */
.login-and-register-content {
  .auth-submit-form-button {
    width: 50%;
    padding: 2%;
    margin: 3% auto 0%;

    color:$even-lighter-brown-txt;
    font-size: 210%;
    font-family: $berg-font;
    
    background-color: $orange-btn;
    border-radius: 10px; 
  }

  .auth-route-navigation-button {
    color: $yellow-logo;
    font-size: 170%;
  }

  .auth-show-or-not-password-button {
    position:absolute;
    bottom: 30%;
    right: 2%;

    height: 3vh;
    width: 3vh;
    background-size: 3vh; 
  }
  
  .auth-not-show-password-button {
    background-image: url('../../assets/icons/input-password-not-show.png');
  }
  
  .auth-show-password-button {
    background-image: url('../../assets/icons/input-password-show.png');
  }
}

.modal-button{
  padding: 2.5% 4%;
  margin-bottom: 3%;
  font-size: 150%;

  background-color:$light-brown-box;
  border: $dark-brown-bg solid 1pt;
  border-radius: 10px;

  box-shadow: 4px 5px 15px 5px rgba(0,0,0,0.1);
}

/* Portrait Ipad PRO */
@media (min-width: 1024px) and (max-height: 1366px){
  .login-and-register-content {
    .auth-submit-form-button{
      width: 50%;
      padding: 2%;
      font-size: 250%;
    }

    .auth-route-navigation-button {
      font-size: 190%;
    }
  }

  .modal-button{
    font-size: 180%;
  }
}


/*Landscape Ipad MINI */
@media (orientation: 'landscape') and (max-height: 768px){
  
  .login-and-register-content {
    .auth-submit-form-button {
      font-size: 180%;
    }

    .auth-route-navigation-button {
      font-size: 120%;
    }
  }
}