@import '../../styles/Global.scss';

.auth-submit-form {
  width: 60%;
  height: 6vh;

  margin: 0% auto 3%;

  background-color: $orange-btn;
  color:$even-lighter-brown-txt;

  font-size: 210%;
}

.auth-route-navigation {
  color: $yellow-logo;
  font-size: 170%;
  margin-right: 1%;
}

.auth-show-or-not-password {
  height: 3vh;
  width: 3vh;

  position:absolute;
  bottom: 30%;
  right: 5%;

  background-size: 3vh;
}

.auth-not-show-password{
  background-image: url('../../assets/icons/input-password-not-show.png');
}

.auth-show-password{
  background-image: url('../../assets/icons/input-password-show.png');
}

.auth-modal-button {
  position: relative;
  margin: 6% auto 1%;
  padding: 2% 4%;

  background-color: $light-brown-label;
  font-size: 100%;

  border:$orange-btn solid 2pt;
  border-radius: 5px;
  box-shadow: 4px 5px 15px 5px rgba(0,0,0,0.1);
}

.auth-modal-button:hover{
  background-color: $orange-btn;
  color: white;
}

.unauhtorized-sign-out, .unauhtorized-goback{
  height: 8vh;
  width: 8vh;
  position: absolute;
  bottom: 2%;
  background-size: 8vh;
}

.unauhtorized-sign-out{
  right: 5%;
}

.sign-out{
  right: 5%;
  background-image: url('../../assets/icons/light-brown-logout.png');
}

.unauhtorized-goback{
  left: 5%;
  background-image: url('../../assets/icons/light-brown-goback.png');
}

.room-sign-out{
  height: 5vh;
  width: 5vh;
  background-size: 5vh ;
  position: absolute;
  right: 1%;
  bottom:1%;
}

.room-navbar-button{
  height: 15vh;
  width: 15vh;
  background-size: 15vh;
}

.room-navbar-menu{
  margin-top: -12%;
  background-image: url('./../../assets/images-buttons/navbar-menu.png');
}

.room-being-prepared-orders{
  background-image: url('./../../assets/images-buttons/navbar-being-prepared-orders.png');
}

.room-ready-orders{
  background-image: url('./../../assets/images-buttons/navbar-ready-orders.png');
}

.room-delivered-orders {
  background-image: url('./../../assets/images-buttons/navbar-delivered-orders.png');
}

@media (min-width: 1000px) {
  .auth-submit-form {
    height: 8vh;
    width: 80%;
  }
}
