.buttons{
    color: #fff;
    background-color: #AB2328;
    border: none;
    width: 70%;
    height: 40px;
    font-size: 20px;
    border-radius: 15px;
    margin: 4% 0 0 0;
}

.buttons:hover{
    background-color: #360608;
}