:root {
    --red-color: #AB2328;
    --white-color: #FFF; 
    --red-hover: #360608;
}

.logout{
    width: 100%;
    height: 80px;
}

.btn-logout{
    border: none;
    background: var(--white-color);
    display: flex;
}
