// color
$btn-blue: rgb(171, 218, 214);
$btn-white: rgb(255, 255, 255);


@mixin buttonProps() {
    width: 150px;
    height: 42px;
    font-size: 1.3em;
    font-weight: 600;
    text-align: center;    
    text-transform: uppercase;
    justify-content: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.button {
    @include buttonProps;
    background-color: $btn-white;       
    
    a {
        color: black;
        font-weight: bold;
        text-decoration: none;
        margin: 1vh;
    }  
}

.button.primary{
    @include buttonProps;
    background-color: $btn-blue;
    width: 252px;
    font-size: 1em;
    margin: 4rem 4rem 3rem;   

}

.button.secondary{
    @include buttonProps;
    background-color: $btn-blue;
    width: 252px;
}