
.goBtn, .registerBtn, .createAccount {
  padding: 6px;
  color: floralwhite;
  background-color: #8544b9;
  border: none;
  border-radius: 5px;
  font-family: "Kaisei Tokumin", serif;
  align-items: center;
  box-shadow: 0px 4px 4px rgb(20 20 20 / 37%);
  cursor: pointer;
}

.goBtn {
  width: 45%;
}

.registerBtn {
  width: 120%;
}

.createAccount {
  width: 50%;
}

