.breakfast,
.hamburguers {  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2%;
}

.btn-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.button-menu {
    width: 20vw;
    height: 8vh;
    color: white;
    font-weight: bold;
    font-size: 1.0rem;
    background-color: rgba(206, 27, 27, 0.835);

  
}

