.breakfast,
.hamburguers {
  /*display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  
  width: 80%;*/
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}

.btn-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.button-menu {
  width: 20vw;
  height: 8vh;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  background-color: rgba(206, 27, 27, 0.835);
}
/*
@media screen and (max-width: 1400px) {
    .breakfast,
    .hamburguers {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  align-items: center;
}
}*/