.hall-main{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.btn-orders-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #9B2D0A;
    border-radius: 0.4rem;
    margin: 0px 0px 40px 0px;
}

.btn-img{
    width: 50px;
    height: auto;
}

.btn-name{
    font-size: 15px;
}

.menu-container{
    width: 44%;
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-btn-menu{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.products-container{
    display: flex;
    width: 100%;
    height: -moz-fit-content;
    margin: 2%;
    padding: 2%;
    overflow: auto;
    height: 700px;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    scroll-behavior: smooth;
}

.orders-area{
    width: 46%;
    margin: 2%;
}

.container-order{
    width: 95%;
    min-height: 250px;
    margin: 3%;
    border: solid 2px #9B2D0A;
    border-radius: 10px;
    align-items: center;
    background-color: #F2DFBA;
}

.info-table-client{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
    padding: 5px;
}

.table-select{
    border-radius: 5px;
    width: 100px;
    height: 42px;
    margin: 2%;
    background-color: #9B2D0A;
    color: whitesmoke;
    font-size: 16px;
}

.box-order-itens{
    display: flex;
    padding: 5%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.icon-signout {
    color: #DFB120;
    font-size: 35px;
}

.input-client{
    border-radius: 9px;
    width: 143px;
    height: 38px;
    background-color: #9B2D0A;
    color: whitesmoke;
    font-size: 16px;
}  

 .input-client::placeholder {
     color: #fff;
 }

hr{
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    border: 1px solid #9B2D0A;
    width: 90%;
   }

.total-container{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 50%;
}

.total {
    font-size: 22px;
}
