:root {
    --white: #fff;
    --black: #000000;
    --green: #a0a603;
    --yellow: #d97904;
    --red: #bf0404;
    --dark-red: #590202;
    --light-gray: #292929;
    --dark-gray: #111111;
    --stroke: #464242;
}

nav {
    display: flex;
    width: 100%;
    height: 4rem;
    justify-content: space-between;
    margin: -1rem 0 0 0;
    border-bottom: 1px solid var(--stroke);

    .menu-types {
        display: flex;
        align-items: flex-end;
        list-style-type: none;
        height: 100%;
        padding: 0;
        li {
            height: 2rem;
            margin: 0 2rem 0rem 0;
            color: white;
            cursor: pointer;

            &.selected {
                color: var(--yellow);
                border-bottom: 3px solid var(--yellow);
            }
            &:hover {
                color: var(--yellow);
                border-bottom: 3px solid var(--yellow);
            }
        }

        @media (min-device-width: 1400px) {
            font-size: 1.3rem;
        }
    }

    .btn-order-status {
        background-color: var(--light-gray);
        padding: 0.8rem 1.6rem;
        border-radius: 7px;
        border: 1px solid var(--stroke);
        font-size: 0.9rem;
    }
}

main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-top: 2rem;
    align-items: stretch;

    select{
        padding:0.3rem 0.8rem;
        margin-right:1rem;
        border-radius:3px;
        background-color:var(--light-gray);
        color:white;
        outline:none;
        border:1px solid var(--stroke);
        font-size:1rem;
      
      }

    .order-filling {
        display: flex;
        flex-direction: column;
        .menu {
            display: flex;
            flex-direction: row;
            height: 100%;
            width: 55vw;
        
            @media (min-device-width: 1025px) {
                width: 60vw;
            }

            @media (min-device-width: 1400px) {
                width: 55vw;
            }
            @media (orientation:portrait){
                justify-self: center;
                width:60vw;
                flex-direction: column;
                align-items: center;
                
            }
        }

        .client-data{
            display:flex;
            
            @media (orientation:portrait){
                width:100vw;
            }

            .cart-portrait{
                display:none;
                @media (orientation:portrait){
                    display:inline-flex;
                    position:absolute;
                    right:3rem;
                }
            }

        }
        aside {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            @media (orientation:portrait){
                position:absolute;
                width:60vw;
                flex-direction: row;
                margin-bottom: 3rem;
                left:50%;
                transform:translate(-50%, 0%);
                height: auto;
               
            }
        }
        .products {
            width: 100%;
            align-items: center;
            height: 100%;
            margin: 0 8%;
            @media (min-device-width: 1400px) {
                width: 50%;
                margin-left: auto;
                margin-right: auto;
            }

            @media (orientation:portrait){
                position:absolute;
                width:60vw;
                flex-direction: row;
                margin-bottom: 3rem;
                left:50%;
                top:45vh;
                transform:translate(-50%, 0%);
                margin:0;
                height: auto;
            }
        }

        .btn-add-item {
            align-self: center;
            width: 100%;
            @media (orientation:portrait){
                margin-top: 2rem;
            }
        }

      
    }

    @media (min-device-width: 1025px) {
        height: 100vh;
    }

    @media (min-device-width: 1400px) {
        height: 80vh;
        padding-bottom: 3rem;
    }
}





  