.hall-main{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.btn-orders-conatiner{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #9B2D0A;
}

.btn-img{
    width: 50px;
    height: auto;
}

.btn-name{
    font-size: 15px;
}


.menu-container{
    /*display:flex;*/
    flex-wrap: wrap;
    width: 44%;
    height: fit-content;  
    justify-content: center;
    border-radius: 10px;
    margin: 2%;
    /*padding: 2%;*/
};

.container-teste{
    width: 100%;
    /*display: flex;*/
    justify-content:space-between;
    margin-bottom: 5%;   
    background-color: green;
}

.orders-area{
    width: 46%;
    margin: 2%;
}
.container-order{
    width: 95%;
    margin: 3%;
    border: solid 2px #9B2D0A;
    border-radius: 10px;
    align-items: center;
}

.info-table-client{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5%;
    padding: 5px;
}

.table-select{
    border-radius: 5px;
    width: 100px;
    height: 42px;
    margin: 2%;
    background-color: #9B2D0A;
    color: whitesmoke;
    font-size: 16px;
}

.box-order-itens{
    display: flex;
    width: 90%;
    padding: 5%;
    align-items: center;
    align-content: space-between;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
}
.icon-signout {
    color: #DFB120;
    font-size: 35px;

}


.input-client{
    border-radius: 9px;
    width: 143px;
    height: 38px;
    background-color: #9B2D0A;
}  


 .input-client::placeholder {
     color: #fff;

 }

hr{
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    border: 1px solid #9B2D0A;
    width: 90%;
   }


.ajuste-total{
    margin-left: 62%;
}

