@import '../../../styles/Global.scss';

.new-order-section{
  margin-top: -3%;
  display: flex;
  flex-direction: column;

  .new-order-product-list-price{
    text-align: center;
  }

  fieldset{
    justify-content: space-around;
    margin: 0;
    background-color: $light-brown-box;
    display:flex;
    flex-direction: row;

    :first-child, .table-input{
      width: 40%;
    }

    .customer-name-input{
      width: 70%;
    }

    label{
      font-family: $berg-font;
      font-size: 190%;
      color: $even-darker-brown-txt;
    }

    ::placeholder{
      color: $light-brown-bg;
      font-weight: 50;
      font-family: 'Courier New', Courier, monospace;
      color: $even-darker-brown-txt;
    }

    input{
      width: 100%;
      font-size: 190%;
      font-family: $berg-font;
      color:$even-lighter-brown-txt;
    }
  }
}
.new-order-note-div{
  margin:5% auto 5%;
  width: 90%;
  min-height: 40vh;
  border-radius: 10px;
  border: $orange-btn solid 3pt;
  position: relative;
  background-color: $light-brown-bg;
}

.new-order-product-buttons-div{
  margin:5% auto;
  padding: 2%;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap:2vh;
  grid-column-gap:2vh;
  justify-content: center;
}

.new-order-products-list{
  color:$even-darker-brown-txt;
  display: flex;
  flex-direction: column;
}

.new-order-full-list{
  overflow-y: auto;
  background-color: $light-brown-bg;
  height: 21vh;
}

.new-order-price{
  margin-bottom: 0%;
  border-bottom: $light-brown-box solid 2px;
  width: 100%;
  background-color: $light-brown-box;
  padding:0 5%;
  font-size: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h1{
    color: $even-darker-brown-txt;
    font-family: $berg-font;
  }
}

.new-order-products-list-head, .new-order-products-list-content{
  display: grid;
  grid-template-columns: 3fr 1fr 0.5fr 0.5fr;
  background-color: $light-brown-bg;
}

.new-order-products-list-head{
  font-size: 90%;
  justify-content: center;
  text-align: center;
}

.new-order-products-list-content{
  padding-left: 2%;
  font-size: 125%;
  margin-bottom: -0.5%;
}

.new-order-quantity-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.new-order-filter-buttons-div{
  margin: 4% auto -2%;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.current-order-product-column-quantity{
  span{
    font-size: 130%;
  }
  
}

@media (min-width: 1024px) and (min-height: 1366px){
  .new-order-products-list-content{
    font-size: 155%;
  }

  .new-order-full-list{
    height: 25vh;
  }

  .new-order-price {
    h1{
      font-size: 180%;
    }
  }

  .new-order-section{
    fieldset label{
        font-size: 210%;
      }
    }
    .new-order-products-list-head{
      font-size: 120%;
    }

}

@media (orientation: 'landscape') {
  .new-order-section{
    fieldset{
      label, input{
        font-size: 190%;
      }
    }
  }

.new-order-note-div{
  margin:5% auto 5%;
  width: 90%;
  min-height: 40vh;
  border-radius: 10px;
  border: $orange-btn solid 3pt;
  position: relative;
  background-color: $light-brown-bg;
  }

  .new-order-products-list-head{
    margin-bottom: -3%;
    font-size: 110%;
  }

  .new-order-products-list-content{
    font-size: 130%;
  }

  .new-order-full-list{
    height: 38vh;
  }

  .new-order-note-div{
    position: absolute;
    width: 55%;
    margin-left: 2%;
    top: 14%;
    height:60vh;
  }

  .new-order-product-buttons-div{
    position: absolute;
    right: 0%;
    margin-bottom: 2%;
    bottom: 0%;
    height: 80vh;
    width: 43%;
    overflow-y: scroll;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15vh 15vh 15vh 15vh 15vh 15vh 15vh 15vh ;
  }
    
  .new-order-price{
    position: absolute;
    bottom: 0%;
    font-size: 120%;
  }

  .current-order-product-column-quantity{
    span{
      font-size: 120%;
    }
    
  }

  }
 
/*Landscape Ipad MINI */
@media (orientation: 'landscape') and (max-height: 768px){
  .new-order-section{
    fieldset{
      label, input{
        font-size: 140%;
      }
    }
  }

  .new-order-products-list-head{
    font-size: 90%;
  }
  
  .new-order-products-list-content{
    font-size: 103%;
  }

  .new-order-full-list{
    height: 34vh;
  }

  .new-order-price{
    font-size: 100%;
  }
}