@import '../../../styles/Global.scss';

.new-order-section{
  display: flex;
  flex-direction: column;

  .new-order-product-list-price{
    text-align: center;
  }

  fieldset{
    justify-content: space-around;
    margin: 0;
    background-color: $light-brown-box;
    display:flex;
    flex-direction: row;

    :first-child, .table-input{
      width: 40%;
    }

    .customer-name-input{
      width: 70%;
    }

    label{
      font-family: $berg-font;
      font-size: 190%;
      color: $even-darker-brown-txt;
    }

    ::placeholder{
      color: $light-brown-bg;
      font-weight: 50;
      font-family: 'Courier New', Courier, monospace;
      color: $even-darker-brown-txt;
    }

    input{
      width: 100%;
      font-size: 190%;
      font-family: $berg-font;
      color:$even-lighter-brown-txt;
    }
  }
}
.new-order-note-div{
  margin:5% auto 5%;
  width: 90%;
  min-height: 40vh;
  border-radius: 10px;
  border: $orange-btn solid 3pt;
  position: relative;
  background-color: $light-brown-bg;
}

.new-order-product-buttons-div{
  margin: 4% 0 0 1%;
  padding: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap:2vh;
  grid-column-gap:2vh;
  justify-content: center;
}

.new-order-products-list{
  color:$even-darker-brown-txt;
  display: flex;
  flex-direction: column;
}

.new-order-full-list{
  overflow-y: auto;
  background-color: $light-brown-bg;
  height: 21vh;
}

.new-order-price{
  margin-bottom: 0%;
  border-bottom: $light-brown-box solid 2px;
  width: 100%;
  background-color: $light-brown-box;
  padding:0 5%;
  font-size: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h1{
    color: $even-darker-brown-txt;
    font-family: $berg-font;
  }
}

.new-order-products-list-head, .new-order-products-list-content{
  display: grid;
  grid-template-columns: 3fr 1fr 0.5fr 0.5fr;
  background-color: $light-brown-bg;
}

.new-order-products-list-head{
  font-size: 90%;
  justify-content: center;
  text-align: center;
}

.new-order-products-list-content{
  padding-left: 2%;
  font-size: 125%;
  margin-bottom: -0.5%;
}

.new-order-quantity-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.new-order-filter-buttons-div{
  margin-top: 4%;
  margin-bottom: -2%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (min-width: 1024px) and (max-height: 1366px){
  .new-order-products-list-content{
    font-size: 155%;
  }

  .new-order-full-list{
    height: 25vh;
  }

  .new-order-price {
    h1{
      font-size: 180%;
    }
  }

  .new-order-section{
    fieldset label{
        font-size: 210%;
      }
    }
    .new-order-products-list-head{
      font-size: 120%;
    }

}

@media (min-width: 1024px) and (max-height: 768px),
(min-width: 1366px) and (max-height: 1024px){

  .new-order-section{
    display: flex;
    flex-direction: row;
  }

  .new-order-products-list-head{
    margin-bottom: -4%;
  }

  .new-order-filter-buttons-div{
    position:absolute;
    width: 20%;
    height: 8vh;
  }
    .new-order-note-div{
      position: absolute;
      margin-left: 4%;
      height:60vh;
    }

    .new-order-product-buttons-div{
      grid-template-rows: 19vh 19vh 19vh 19vh 19vh 19vh;
      position: absolute;
      right: 0.5%;
      margin-top: 1%;
      height: 95vh;
      overflow-y: scroll;
    }
    

    .new-order-price{
      position: absolute;
      bottom: 0%;
    }

  }
 

  @media (min-width: 1366px) and (max-height: 1024px){

    .new-order-section{
      fieldset{
        label{
          font-size:180%;
        }
      }
    }

    .new-order-product-buttons-div{
      grid-template-columns: 1fr 1fr 1fr;
    }

    .new-order-note-div{
      width: 45%;
    }

    .new-order-full-list{
      height: 36vh;
    }

    .new-order-filter-buttons-div{
      left: 16%;
      bottom: 20%;
    }
  }


  @media (min-width: 1024px) and (max-height: 768px){
    .new-order-section{
      fieldset{
        label{
          font-size:160%;
        }
      }
    }

    .new-order-note-div{
      position: absolute;
      width: 60%;
      margin-left: 4%;
      height:65vh;
      margin-top: 3%;
    }

    .new-order-product-buttons-div{
      grid-template-columns: 1fr 1fr;
    }

    .new-order-full-list{
      height: 40vh;
    }

    .new-order-filter-buttons-div{
      left: 24%;
      bottom: 22%;
    }

    .new-order-products-list-content{
      font-size: 140%;
    }
  }