.product-card-div{
  min-height: 100%;

}

.menu-cards-section {
  padding: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap:2vh;
  grid-column-gap:2vh;
}

.teste-h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.filter-buttons-div{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3%;
  align-items: center;
}

@media (orientation: 'landscape') {
  .filter-buttons-div{
    margin-bottom: 1%;
    position: absolute;
    right: 0%;
    width:80%;
    top:8%;
  }

  .menu-cards-section {
    overflow-y: scroll;
    padding: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 27vh 27vh 27vh 27vh ;
    grid-row-gap:2vh;
    grid-column-gap:2vh;
    width: 80%;
    height: 80vh;
    position: absolute;
    right: 1%;
    bottom: 3%;
  }
  
}