.inputs{
    display: flex;
    border-radius: 10px;
    height: 30px;
    width: 60%;
    margin: 5px;
    border:none;
    background-color: #c4c4c449;
    font-size: 15px;
}

input::placeholder{
    color: #C4C4C4;
}

input[type=radio]{
    cursor: pointer;
    width: 20px;
    margin: 10px 14px 0 16px;
}
