.input {
    margin-bottom: 19px;
    background-color: #E5E5E5;
    border: none;
    justify-content: center;
    text-align: center;
    padding: 5px;
    margin-top: 7px;
}

@media (min-width:1400px) {
    .input{
        font-size: 35px;
        padding: 15px;
        margin-bottom: 11%;
    }
    }
