.input {
  margin-bottom: 4px;
  background-color: var(--light-gray);
  border: none;
  justify-content: center;
  text-align: center;
  padding: 5px;
}

@media (min-width: 1400px) {
  .input {
    font-size: 35px;
    padding: 15px;
    margin-bottom: 11%;
  }
}
