@import '../../../styles/Global.scss';

.room-div{
  height: 100%;
}

.room-table-div{
  justify-content: center;
  margin: auto;
}

.room-tables-section {
  padding: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap:2vh;
  grid-column-gap:2vh;
  justify-content: center;
}

@media (min-width: 1024px) and (max-height: 768px),
(min-width: 1366px) and (max-height: 1024px){
  .room-tables-section {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}