
@import '../../styles/Global.scss';




.auth-role-input-fieldset {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 5vh;

  margin-top: 2%;

  img {
    position: absolute;
    bottom: 9%;
    left: 1%;
  }
}
