
@import '../../styles/Global.scss';

.login-and-register-content{
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.auth-header{
  margin: auto;
}

.auth-content-div{
  display: flex;
  flex-direction: column;
}
  
.auth-form{
  width: 70%;
  margin: auto;
}

.auth-input-div {
  width: 100%;
  position: relative;
  margin: 6% auto;
}

.auth-route-navigation-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.auth-route-navigation-p{
  font-size: 170%;
  color: $even-lighter-brown-txt;
}

.auth-role-input-fieldset {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 7.5vh;
}


@media (min-width: 1024px) and (max-height: 1366px){
  .auth-route-navigation-p{
    font-size: 190%;
  } 
}

@media (orientation: 'landscape') {
  .auth-header {
    margin-left: 50%;
  }
  
  .auth-main-landscape{
    display: flex;
    flex-direction: row;
  }
  
  .auth-logo-landscape{
    margin-top: -25%;
    height: 60vh;
    width:60vh;
  }

  .auth-content-div{
    width: 100%;
  }

  .auth-form {
    width: 85%;
  }

  .register-content{
    .auth-header{
      margin-left: 5%;
    }

    .auth-logo-landscape{
      margin-top: -6%;
      height: 55vh;
      width: 55vh;
    }

    .auth-form{
      margin-top: -50%;
    }
  }
}

/*Landscape Ipad Mini */
@media (orientation: 'landscape') and (max-height: 768px){
  .auth-route-navigation-p{
    font-size: 120%;
  }
}