
$dark-gray: #535659;
$light-gray: #D3D3D3;
$orange: #FF8C00;
$auth-error-message: #FFC299;

.login-and-register-content{
  background-color: $dark-gray;
  height: 100vh;

  header{
    display: flex;
    flex-direction: column;
  }

  .logo{
    height: 28vh;
    width: 28vh;
  }

  form {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 60%;
    
    div {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 0 auto;

      input {
        line-height: 5vh;
    
        border-bottom: 2.5pt;
        padding-left: 10%;
    
        font-size: 180%;
        color: white;
      }

      ::placeholder{
        color:white;
      }

      label {
        display: none;
        position: absolute;
        bottom: 25%;
        left: 10%;
        font-size: 190%;
        color: white;
      }

      input:valid ~ label,
      .move-label-up {
        display: block;
        bottom: 85%;
        font-size: 160%;
        color: $light-gray;
      }

      img{
        position: absolute;
        bottom: 30%;
        height: 3vh;
        width: 3vh;
      }

    }

    button {
      width: 90%;
      height: 6vh;

      background-color: $orange;

      font-size: 210%;

      cursor: pointer;
    }

    p {
      color: white;
      font-size: 170%;

      a {
        text-decoration: none;
        color: $orange;
      }
    }

  }

  .auth-correct-input{
    border-bottom: black solid;
  }

  .auth-wrong-input{
    border-bottom: $orange solid;
  }

  .auth-error-message{
    margin: 0 auto 5%;
    font-size: 130%;
    color: $auth-error-message;
  }

  .auth-show-or-not-password {
    height: 3vh;
    width: 3vh;

    position:absolute;
    right: 5%;

    background-size: 3vh;
    background-color: transparent;
    background-repeat: no-repeat;
  }

  .auth-not-show-password{
    background-image: url('../assets/icons/input-password-not-show.png');
  }

  .auth-show-password{
    background-image: url('../assets/icons/input-password-show.png');
  }
}

.login-content {
  .logo{
    margin: -20% auto 0 auto;
  }

  form {
    margin: 10% auto;

    div {
      margin-bottom: 10%;
    }
  }

  button {
    margin: 8% auto 4% auto;
  }

  p {
    margin: 4% auto;
  }

  .auth-show-or-not-password {
    bottom:0%;
  }
}

.register-content {
  .logo{
    margin: -25% auto 0 auto;
  }

  form {
    margin: 4% auto;

    fieldset {
      width: 100%;
      display: flex;
      flex-direction: row;
      padding: 0;

      img {
        bottom: 62%;
        left: 0;
      }

      div div {
        margin: 5% 0 -4% 0;
        bottom:0%;
      }

      label,
      input:valid ~ label,
      input:focus ~ label {
        display: block;
        left: 40%;
        bottom: 25%;
        font-size: 180%;
        color: white;
      }

      input[type='radio'] {
        margin: 0 0 7% 25%;
        height: 2.5vh;
        width: 2.5vh;
      }
    }
  }

  button {
    margin: 2% auto 2%;
  }

  p {
    margin: auto;
  }

  .auth-show-or-not-password {
    bottom: 40%;
  }
}