
$dark-gray: #535659;
$light-gray: #D3D3D3;
$orange: #FF8C00;
$auth-error-message: #FFC299;

.login-and-register-content{
  background-color: $dark-gray;
  height: 100vh;

  main {
    display: flex;
    flex-direction: column;
  }

  .auth-navigation-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    p {
      font-size: 170%;
      padding-right: 1%;
      color: white;
    }
  }

  .auth-error-message{
    margin: 0 auto 5%;
    font-size: 130%;
    color: $auth-error-message;
  }

}





    fieldset {
      width: 100%;
      display: flex;
      flex-direction: row;
      padding: 0;

      img {
        bottom: 62%;
        left: 0;
      }

      div div {
        margin: 5% 0 -4% 0;
        bottom:0%;
      }

      label,
      input:valid ~ label,
      input:focus ~ label {
        display: block;
        left: 40%;
        bottom: 25%;
        font-size: 180%;
        color: white;
      }

      input[type='radio'] {
        margin: 0 0 7% 25%;
        height: 2.5vh;
        width: 2.5vh;
      }
    }
  

