  $even-darker-brown-txt:#292018;
  $dark-brown-bg:#493421;
  $orange-btn:#F25C05;
  $light-brown-label:#FFA34C;
  $light-brown-txt:#FED691;
  $even-lighter-brown-txt:#FFEBC9;
  $light-brown-box:#A87852;
  $red-box:#FF2F00;
  $red-error-message:#FFBFB0;
  $yellow-logo:#F6D110;
  $yellow-processing-order:#F8CB2E;
  $blue-delivered-order:#2E8EFF;
  $red-delivered-order:#EA463B;
  $light-brown-bg:#EDBA93;
  $medium-green:#467502;
  $light-brown-order-bg:#E1C5AF;
  $dark-green:#202e28;


  /*@import url(https://allfont.net/allfont.css?fonts=norwester); */

  $berg-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
  
  
* { 
  background-color: transparent;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
  border: none;

}

html {
  overflow: hidden;
}

body, #root{
  overflow: scroll;
}

body, html, #root { 
  width:100%; 
  height:100%; 
  padding: 0; 
  margin: 0;
}

body {
  position: absolute;
  top:0;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: $dark-brown-bg;
}

button {
  cursor: pointer;
  background-repeat: no-repeat;
}