
  $dark-brown-bg:#493421;
  $orange-btn:#F25C05;
  $light-brown-label:#FFA34C;
  $light-brown-txt:#FED691;
  $even-lighter-brown-txt:#FFEBC9;
  $light-brown-box:#A87852;
  $red-box:#FF2F00;
  $red-error-message:#FFBFB0;
  $yellow-logo:#F6D110;
  $yellow-processing-order:#F8CB2E;
  $blue-delivered-order:#2E8EFF;
  $red-delivered-order:#EA463B;
  $light-brown-bg:#EDBA93;


* { 
  background-color: transparent;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
  border: none;
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
  background-repeat: no-repeat;
}
