*{
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --preto: #0B090A;
    --cinza-escuro: #161A1D;
    --vermelho-escuro: #660708;
    --vermelho-medio: #A4161A;
    --vermelho: #BA181B;
    --vermelho-rosado: #E5383B;
    --cinza: #B1A7A6;
    --cinza-medio: #D3D3D3;
    --cinza-claro: #DCDCDC;
    --platinum: #E3E3E3;
    --cinza2: #757575;
    --cinza3: #efefef;
}

html, body, #root, .App{
    position: relative;
    min-height: 30vh;
    max-width: 100vh;
    width: 100vh;

}
.icon {
    position: absolute;
    z-index: 4;
    left: 1%;
    width: fit-content;
    height: 44px;
    cursor: pointer;
}

.hamburguer {
    top: 50%;
    left: 10%;
    width: 30px;
    height: 3px;
    background:var(--preto) ;
    position: absolute;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.hamburguer:before {
    top: -12px;
    content: '';
    position: absolute;
    width: 37px;
    background: var(--vermelho);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.hamburguer:after {
    top: 12px;
    content: '';
    position: absolute;
    width: 37px;
    background: var(--vermelho);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.list {
    display: flex;
    flex-direction: column;
    left: 1%;
    padding: 45px 0 0;
    flex-wrap: nowrap;
    color: var(--cinza2);
    font-size: 1.2 rem;
    font-weight: 600;
}

.list .listItems {
    padding: 0;
    list-style: none;
}

.list .listItems li {
    margin: 2px 8px;
    cursor: pointer;
}

.list .listItems li:hover {
    font-weight: 800;
}

.icon .iconActive .hamburguer {
    background: transparent;
    box-shadow: 0 2px 5 transparent;
}

.icon .iconActive .hamburguer:after {
    top: o;
    background: var(--preto);
    transform: rotate(225deg);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}
.icon .iconActive .hamburguer:before {
    top: o;
    background: var(--preto);
    transform: rotate(135deg);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.menu .menuOpen {
    width: 150px;
    height: 100vh;
    background: var(--cinza2);
}







/*html, body {
    height: 100vh;
    overflow: hidden;
}*/
.container {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.row {
    display: flex;
    flex-wrap: wrap;  
    height: 100vh;  
}

.co1 {
    width: 50%;

}

.align-items-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form-wrapper {
    width: 100%;
    max-width: 28rem;
}

.form {
    padding: 1rem;
    background-color: var(--cinza-medio);
    border-radius: 1.5rem;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.input-group {
    position: relative;
    width: 100%;
    margin: 1rem 0;
}

.input-group i {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    font-size: 1.4rem;
    color: var(--cinza2);
}

.input-group input, .style-option{
    width: 100%;
    padding: 1rem 3rem;
    font-size: 1rem;
    background-color: var(--cinza3);
    border-radius: .5rem;
    border: 0.125rem solid var(--platinum);
    outline: none;
}

.input-group input:focus {
    border: 0.125rem solid var(--cinza-escuro);
}

.form button {
    cursor: pointer;
    width: 100%;
    padding: .6rem 0;
    border-radius: .5rem;
    border: none;
    background-color: var(--preto);
    color: var(--platinum);
    font-size: 1.2rem;
    outline: none;
}

.form p {
    margin: 1rem 0;
    font-size: .7rem;
}
.flex-co1 {
    border-radius:0 0 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.style-option {
    color: var(--cinza2);

}

.link-class {
    text-decoration: none;
    color: var(--vermelho-escuro);
    margin: .2rem;
}

@media (max-width: 946px){
    .align-items-center {
        display: grid;
    }
}
