.menu-container{
    display:flex;
    background-color: blanchedalmond;
    
};
.h2{
      min-height: 60px;
      border-bottom: 1px solid #ccc;
      background: #ECECEC;
      z-index: 2;
        display: inline;
        margin: 0 0 0 15px;
    background-color: brown;
}