
$login-register-bg: #535659;
$login-register-btn: #FF8C00;

.login-content{
  background-color: $login-register-bg;
  height: 100vh;
}

header{
  display: flex;
  flex-direction: column;
}

.login-register-bg{
  background-size: cover 20%;
  background-position:  -50px 0, 0 -25px;

}

.login-register-logo{
  height: 30vh;
  width: 30vh;
  margin: -20% auto 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 8% auto;

  input {
    line-height: 5vh;
    margin-bottom: 17%;

   
    border-bottom: black solid 2.5pt;

    font-size: 190%;
    color: white;
  }

  label {
    font-size: 200%;
    color: white;
  }

  button {
    width: 90%;
    height: 6vh;

    background-color: $login-register-btn;

    font-size: 210%;

    margin: 10% auto 4% auto;
  }

  p {
    color: white;
    margin: 4% auto;
    font-size: 180%;

    a {
      text-decoration: none;
      color: $login-register-btn
    }
  }

}

