.img-food {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-left: 25%;


        
}
/* container com todos os produtos */
.flex-container {
        display: flex;
        background-color: #F2DFBA;
        flex-wrap: wrap;
        width: 50%;
        height: fit-content;
        box-shadow: 10px 5px 5px black;
}


.flex-item {
        flex-direction: column;
            font-size: 6px;
            width: 140px;
            height: 160px;
            background-color: #9B2D0A;
            border-radius: 22px;
            margin: 35px;
            margin-top: 15px;
}

.button-menu {
    display: flex;
    justify-content: space-evenly;
    width: 49%;
    margin: 1%;
}
