.img-food {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-left: 25%;
}

.products-img{
            font-size: 6px;
            width: 140px;
            height: 160px;
            background-color: #9B2D0A;
            border-radius: 22px;
            margin: 35px;
            margin-top: 15px;
}


