:root {
	--white: #fff;
	--black: #000000;
	--green: #a0a603;
	--yellow: #d97904;
	--red: #bf0404;
	--dark-red: #590202;
	--light-gray: #292929;
	--dark-gray: #111111;
	--stroke:#464242;
}


.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  
}

.product-image {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
    cursor: pointer;
    @media (min-device-width: 1025px) {
        width: 7rem;
        height: 7rem;
      }
    @media (min-device-width: 1400px) {
        width: 7rem;
        height: 7rem;
      }
}

.product-name {
    color: var(--white);
    width: auto;
    position: relative;
    top: 0.5rem;
    text-align: center;
    font-size:1.1rem;
    font-weight: bold;
    cursor: pointer;
    margin-bottom:0.5rem;
}

.product-price{
    color: var(--white);
    cursor: pointer;
    text-align: center;
    font-size:0.9rem;
    font-weight: lighter;
    margin-bottom:0.7rem;
   
}
  
.product-container input:checked + label > img {
    border: 0.3rem solid var(--yellow);
    
}
  
.product-container input:checked + label > p {
    color: var(--yellow);
}

.label-product-box {
    margin-top: -2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}