@font-face {
    font-family: Bob;
    src: url('../../fonts/SpongebobFontCondensedRegular-3zZEy.otf');
    
  }
:root {
    --bg--button--color:#F47C6C;
  
    --bg--menu--yellow--color: #FFE98D; 
  };


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.all-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.menu-um{
    background-color: var(--bg--menu--yellow--color);
    width: 420px;
    height: 444px;
    margin-top: 250px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgb(160, 159, 159);

}

.finish-menu{
    background-color: var(--bg--menu--yellow--color);
    width: 420px;
    height: 444px;
    margin-top: 250px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgb(160, 159, 159);
}

.finish-menu h1{
    font-family: Bob;
    font-size: 20px;
}

.nome-cliente {
    background-color: transparent;
    border:transparent;
    border-bottom: black 1px solid;
}
.cash-register{
width: 100px;
height: 100px;

}
.breakfast-menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    margin-top: 40px;
}

.container-food{
    font-size: 6px;
    width: 140px;
    height: 160px;
    background-color: #F5F3EF;
    border-radius: 22px;
    margin: 35px;
    margin-top: 15px;
   

}

.add-button {
    background: var(--bg--button--color);
    width: 70px;
    height: 20px;
    border: none;
    border-radius: 10px;
    color: #ffff;
    margin-top: 30px;
    margin-left: 50px;
    cursor: pointer;

}
.qtd-button{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color:  var(--bg--button--color);
    border: none;
    color: #ffff;


}
.button-finish{
    width: 100px;
    height: 30px;
    cursor: pointer;
    background-color:  var(--bg--button--color);
    border: none;
    color: #ffff;
    border-radius: 12px;

}

.lista-resumo-pedido  {
    list-style: none;
   
}

.img-food{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 25%;

}