
.menu-div{
    /*height: 100%;*/
    height: 100vh;
    display: flex;
    justify-content: center;
    background: #e4b97a;
}

.menu {
    width: 33%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
}

