@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  background-color: #fef6d1;
}
.index {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  height: 100vh;
}
.logo-posicao {
  position: absolute;
  width: 484px;
  height: 378px;
  left: 48px;
  top: 120px;
}

  
.index-main {
  display: row;
  margin-bottom: 20px;
  position: absolute;
  width: 350px;
  height: 414px;
  left: 700px;
  top: 228px;
}



.botaoCadastro {
    background-color:var(--laranja);
    width: 100%;
}

.botaoCadastro:hover{
  color:black;
  background-color:var(--verde);
}

.botaoLogin {
  margin-top: auto;
    width: 100%;
}