@import '../../styles/Global.scss';

.login-and-register-content{
  .auth-input{
    width: 100%;
    padding: 4% 4% 3% 10%;
    color: $light-brown-txt;
    font-size: 180%;
  }

  ::placeholder{
    color:$light-brown-label;
  }

  .auth-correct-input{
    border-bottom: $light-brown-box solid;
  }
  
  .auth-wrong-input{
    border-bottom: $red-box solid;
  }

  .auth-input-label{
    display: none;

    position: absolute;
    left: 10%;
    bottom: 80%;

    color: $light-brown-label;
    font-size: 160%;
  }

  .auth-input:valid ~ .auth-input-label,
  .move-label-up {
    display: block;
  }

  .auth-input-img {
    position: absolute;
    left: 0%;
    bottom: 25%;
    height: 3vh;
    width: 3vh;
  }
}

/* Portrait Ipad PRO */
@media (min-width: 1024px) and (max-height: 1366px){
  .login-and-register-content {
    .auth-input{
      font-size: 220%;
    }

    .auth-input-label{
      font-size: 180%;
    }
  }
}

/*Landscape Ipad MINI */
@media (orientation: 'landscape') and (max-height: 768px){
  .login-and-register-content {
    .auth-input{
      font-size: 140%;
    }

    .auth-input-label{
      font-size: 130%;
    }
  }
}