
@import '../../styles/Global.scss';

.unauthorized-main{
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $dark-brown-bg;
  padding: 5%;

  img {
    height: 40vh;
    width: 40vh;
    margin-top: -5%;
  }

  h1, h2, h3 {
    justify-content: center;
    text-align: center;
  }

  h1 {
    font-size: 600%;
    color:$orange-btn;
  }

  h2 {
    margin-top: 2%;
    font-size: 200%;
    color:$light-brown-label;
  }
}

/*Landscape IpadMini */
@media (orientation: 'landscape') {
  .unauthorized-main{
    h1 {
      font-size: 750%;
    }
  
    h2 {
      font-size: 200%;
    }
  }
}

/* Portrait Ipad PRO */
@media (min-width: 1024px) and (min-height: 1366px){
  .unauthorized-main{
    h1 {
      font-size: 900%;
    }
  
    h2 {
      font-size: 260%;
    }
  }
}

/*Landscape Ipad PRO */
@media (orientation: 'landscape') and (min-height: 1024px) {
  .unauthorized-main{
    h1 {
      font-size: 950%;
    }
  
    h2 {
      font-size: 260%;
    }
  }
}

