@import '../../styles/Global.scss';

.modal-background{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  min-height: 100%;
  width: 100%;
  background: rgba(0,0,0, .5);
  z-index: 2;
}

.modal-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-justify: inter-word;
  align-items: center;
  position: absolute;
  margin: auto;
  padding:5%;
  width: 80%;

  background-color: $light-brown-txt;
  border: $orange-btn solid 4pt;
  border-radius: 10px;
}

.auth-modal-content{
  color: $dark-brown-bg;
  font-size: 190%;
}


/* Portrait Ipad PRO */
@media (min-width: 1024px) and (max-height: 1366px){
  .auth-modal-content{
    font-size: 230%;
  }
}