:root {
    --preto: #0B090A;
    --cinza-escuro: #161A1D;
    --vermelho-escuro: #660708;
    --vermelho-medio: #A4161A;
    --vermelho: #BA181B;
    --vermelho-rosado: #E5383B;
    --cinza: #B1A7A6;
    --cinza-medio: #D3D3D3;
    --cinza-claro: #DCDCDC;
    --platinum: #E3E3E3;
    --cinza2: #757575;
    --cinza3: #efefef;
}

.modal {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-container {
    background-color: #fff;
    color: black;
    width: 60%;
    height: 60%;
    border-radius: 20px;
}
.close {
    background-color: transparent;
    outline: none;
    width: 32px;
    height: 32px;
    border: none;
    right: calc(-100% + 64px);
    top: 16px;
    cursor: pointer;
    display: flex;
    position: relative;
    align-items: center;
}

.close::after, .close::before {
    content: '';
    position: absolute;
    width: 2.5px;
    height: 24px;
    background-color: black;
}
.close::before {
    transform: rotate(55deg);
}
.close::after {
    transform: rotate(-55deg);
}

.modal-button {
    background: transparent;
    border: none;
    justify-content: center;
    text-align: center;
    display: flex;
}