.login-content {
  .logo{
    height: 50vh;
    width: 50vh;
    margin-bottom: -10%;
  }
}

.register-content {
  .logo{
    height: 25vh;
    width: 25vh;
    margin-bottom: -10%;
  }
}

@media (orientation: 'landscape') {
  .auth-welcome {
    height: 50vh;
    width: 50vh;
  }
}


