header{
  display: flex;
  flex-direction: column;
}

.login-content {
  .logo{
    margin: 5% auto 0;
    height: 50vh;
    width: 50vh;
  }
}

.register-content {
  .logo{
    margin: 1% auto 0%;
    height: 30vh;
    width: 30vh;
  }
}