@import '../../styles/Global.scss';

nav {
  ul {
    display: flex;
    flex-direction: row;
    margin-top: 4%;
    width: 100%;
    padding: 0;
  }

  li {
    list-style: none;
    margin: auto;
  }
}

.navbar-div{
  align-items: center;
}

.navbar-employee-information-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -2%;
  padding-left: 3%;

  height: 5vh;
  background-color: $light-brown-box;

  p {
    padding: 0% 4%;

    color:$even-lighter-brown-txt;
    font-family: $berg-font;
    font-size:140%;
    font-weight: 500;
    border-radius: 10px;
  }
}
.logo{
  height: 12vh;
}

.navbar-kitchen{
  .header-title{
    height: 30vh;
    margin: -12% 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    font-family: $berg-font;
  
    p{
      font-family: $berg-font;
      font-size: 700%;
      color: $yellow-processing-order;
    }

    ul{
      position: absolute;
      margin-top: 5%;
    }    
  }
}


@media (min-width: 1024px) and (min-height: 1366px){
  .navbar-employee-information-div{
    p {
      font-size:180%;
    }
  }
}

@media (orientation: 'landscape') {
  nav {
    ul {
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 20%;
      padding: 0;
      height: 92vh;
    }
  
    li {
      list-style: none;
      margin: auto;
    }
  }

  .navbar-employee-information-div{
    p {
      font-size:160%;
    }
  }
}

@media (orientation: 'landscape') and (max-height: 768px){
  .navbar-employee-information-div{
    p {
      font-size:140%;
    }
  }
}
