@import '../../styles/Global.scss';

nav {

  ul {
    display: flex;
    flex-direction: row;
    margin-top: 4%;
    width: 100%;
    padding: 0;
  }
  li {
    list-style: none;
    margin: auto;
  }
}

.navbar-div{
  align-items: center;
}

.employee-information-div{
  align-items: center;
  height: 4vh;
  margin: 0% auto -2%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  background-color: $light-brown-box;

  p {
    font-size:130%;
    padding: 0% 5%;
    color:$even-lighter-brown-txt;
    font-weight: 500;
    border-radius: 10px;
  }
}