@import '../../styles/Global.scss';

nav {

  ul {
    display: flex;
    flex-direction: row;
    margin-top: 4%;
    width: 100%;
    padding: 0;
  }
  li {
    list-style: none;
    margin: auto;
  }
}

.navbar-div{
  align-items: center;
}

.employee-information-div{
  align-items: center;
  height: 4vh;
  margin: 0% auto -2%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  background-color: $light-brown-box;

  p {
    font-size:130%;
    padding: 0% 5%;
    color:$even-lighter-brown-txt;
    font-weight: 500;
    border-radius: 10px;
  }
}

.logo{
  height: 12vh;
}

.header-logo-and-title{
  margin: -10% auto -15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  p{
    font-family: $berg-font;
    font-size: 650%;
    color: $yellow-processing-order;
  }
}

@media (min-width: 1024px) and (max-height: 1366px){
  .header-logo-and-title{
    margin: -9% auto -12%;
    p{
      font-size: 750%;
    }
  }
}

@media (min-width: 1024px) and (max-height: 768px),
(min-width: 1366px) and (max-height: 1024px){
  .navbar-kitchen{
    ul {
      display: flex;
      flex-direction: column;
      position: absolute;
      left: -40%;
      top:6%
    }
  }
}
