:root {
	--white: #fff;
	--black: #000000;
	--green: #a0a603;
	--yellow: #d97904;
	--red: #bf0404;
	--dark-red: #590202;
	--light-gray: #292929;
	--dark-gray: #111111;
	--stroke:#464242;
}

.menu-wrap {
    display: flex;
    flex-direction: column;

    .products-row {
        display: flex;
        justify-content: space-around;
        background-color: var(--light-gray);
        height: auto;
        margin: 2rem 0 1.5rem 0;
        border-radius: 5px;
        @media (min-device-width: 1025px) {
            margin-top:3rem;
            margin-bottom:2rem;
    }
    
    @media (min-device-width: 1400px) {
            margin-top:4rem;
    }
    }
  

    
}
