

.order-status-main {
  .current-orders-section{
    width: 85%;
    margin: 3% auto;
    overflow-y: scroll;
  }
}

@media (orientation: 'landscape') {
.order-status-main {
  .current-orders-section{
   position: absolute;
   width: 75%;
   top:16%;
   height: 75vh;
   right: 2%;
  }
}
}