

.order-status-main {
  .current-orders-section{
    width: 85%;
    margin: auto;
    overflow-y: scroll;
  }
}

@media (orientation: 'landscape') {
  .order-status-main {
    .current-orders-section{
      position: absolute;
      right: 3%;
      top:8%;
      height: 85vh;
      overflow-y: scroll;
      width: 75%;
    }
  }
}