:root {
  --white: #fff;
  --black: #000000;
  --green: #a0a603;
  --yellow: #d97904;
  --red: #bf0404;
  --dark-red: #590202;
}

.radio-wrapper {
  display: flex;
  flex-direction: column;
}

.switch-field {
  display: flex;
  overflow: hidden;

  input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
    
  }

  label {
    background-color: transparent;
    color: var(--white);
    font-size:1rem;
    line-height: 1;
    text-align: center;
    padding: 0.8rem 3rem;
    border: 1px solid var(--white);
    transition: all 0.5s ease-in-out;

    &:hover {
      cursor: pointer;
    }

    &:first-of-type {
      border-radius: 6px 0 0 6px;
    }

  }

  input:checked + label {
    background-color: var(--yellow);
    border: 1px solid var(--yellow);
  }

  input:hover + label {
    background-color: var(--yellow);
    border: 1px solid var(--yellow);
  }
}

.third-btn {
    &:nth-of-type(3n) {
    border-radius: 0 6px 6px 0;
  }

}

.second-btn {
    &:nth-of-type(2n) {
    border-radius: 0 6px 6px 0;
  }
}