:root {
    --red-color: #AB2328;
    --orange-green: #D79A2B;
    --yellow-color: #F8EF5B;
    --green-water-color: #40C1AC;
    --brown-color: #5C3D31;
    --white-color: #FFF; 
    --red-hover: #360608;
}

.container-form{
    display: flex;
    background-color: var(--white-color);
    flex-direction: column;
    width: 50%;
    height: 560px;
    border-radius: 20px;
    align-items: center;
    margin: 20% 25%;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.315);
}

.text{
    color: var(--white-color);
    margin: 0;
}

.register{
    margin: 110px 0 0 0;
    font-size: 20px;
}

.password-toogle-icon{
    position: absolute;
    top: 8px;
    right: 10px;
    z-index: 1000;
    cursor: pointer;
}

.login-eye{
    position: absolute;
    margin: -3% 16%;
    color: rgba(136, 136, 136, 0.904);
}

.container-inputs{
    width: 100%;
}

.buttons{
    color: var(--white-color);
    background-color: var(--red-color);
    border: none;
    width: 70%;
    height: 40px;
    font-size: 20px;
    border-radius: 15px;
    margin: 4% 0 0 0;
}

.buttons:hover{
    background-color: var(--red-hover);
}