.container-kitchen {
  margin-top: 6%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.title-status {
  font-weight: bold;
  margin-left: 5%;
  color: var(--color-red-font);
  text-align: center;
}

.each-order {
  display: grid;
  grid-template-columns: 1fr;
}