.orders-container{
  flex-wrap: wrap;
  display: flex;
  width: 90%;
  padding: 4rem;
  justify-content: center;
}

.orders { 
  text-transform: uppercase;
  text-align: center;
  border-radius: 1rem; 
  width: 28vw; 
  padding: 1.25rem 1.25rem;
  font-weight: 500; 
  border: 3px solid #9B2D0A; 
  margin: 20px; 
  background-color: #F2DFBA;
}
  
.details-client {
  padding: 0.1rem;
}
  
hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid #9B2D0A;
}
