.container-kitchen {
  margin-top: 6%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.title-status {
  font-weight: bold;
  margin-left: 7%;
  color: var(--color-red-font);
  text-align: center;
}

.each-order {
  display: grid;
  grid-template-columns: 1fr;
}

.btn-fineshed {
  align-items: center;
  display: block;
  width: 24.2vw;
  height: 8vh;
  font-weight: bold;
  color: white;
  background: green;
}

.btn-prepare {
  align-items: center;
  width: 24.2vw;
  height: 8vh;
  font-weight: bold;
  color: white;
  background: rgb(216, 41, 41);
}