@import '../../styles/Global.scss';

.kichen-current-orders-section{
  margin: auto;
  width: 90%;
}

@media (orientation: 'landscape'){
  .kichen-current-orders-section{
    position: absolute;
    right: 3%;
    top:10%;
    height: 85vh;
    overflow-y: scroll;
    width: 75%;
  }
}