:root {
    --red-color: #AB2328;
    --orange-color: #D79A2B;
    --orange-color-hover: #5f420d;
    --yellow-color: #F8EF5B;
    --green-water-color: #40C1AC;
    --brown-color: #5C3D31;
    --red-hover: #360608;
    --white-color: #FFF; 
    --gray-color: #e1e0e48c;
    --eye-color: #9a999c;
    --shadow-color: #00000050;
}

.container-btn-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn-menu{
    width: 30%;
    margin: 3% 1%;
    font-weight: 600;
    font-size: 25px;
    border-top: solid 1px var(--red-color);
    border-bottom: solid 1px var(--red-color);
    border-left: none;
    border-right: none;
    background: none;
}

.btn-menu:hover{
    background-color: var(--red-color);
    color: var(--white-color);
    border-top: solid 1px var(--white-color);
    border-bottom: solid 1px var(--white-color);
}

.container-btn-cardapio{
    margin: 1% 0;
}

.btn-cardapio{
    background: #5C3D31;
    color: white;
    width: 15%;
    height: 35px;
    font-size: 19px;
    border-radius: 9px;
    border: none;
    margin: 0 7px;
}

.container-main-products{
    background-color: var(--white-color);
    border: solid 1px var(--red-color);
    border-radius: 30px;
    box-shadow: 0px 0px 21px 3px var(--shadow-color);
    margin: 2% 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.container-info{
    display: flex;
    margin: 0 1%;
}

.select-table{
    border: none;
    color: black;
    font-size: 20px;
    background: none;
}
