@import "../../index.css";

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 630px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 345px;
  background-color: var(--white);
  border-radius: 20px;
}

.form h1 {
  text-align: center;
  margin-bottom: 8%;
  margin-top: 5%;
}

.margin-input {
  /* margin: 2% 0% -3% 0%; */
  border: none;
  align-self: center;
}

.form-input p {
  /* margin: -4% 0% 0% 0%; */
  color: var(--red);
  min-height: 17px;
  position: relative;
  bottom: 5px;
  text-align: center;
}

.errorMessage {
  min-height: 17px;
  color: red;
  font-size: 12px;
}

.form-input {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 31%;
}

img {
  width: 25%;
  height: 265, 89px;
  margin-right: 7%;
}

.form-input img,
input,
button,
p {
  align-self: center;
}

.form button {
  margin-top: 4%;
}

label {
  margin-left: 30%;
}

.line {
  margin-top: 8%;
}

@media (max-width: 870px) {
  img {
    width: 40%;
  }
  main {
    height: 403px;
  }
}

@media (max-width: 587px) {
  main {
    flex-direction: column;
  }
  img {
    width: 45%;
  }
}

@media (max-width: 437px) {
  img {
    width: 60%;
    margin-top: 60%;
  }
}
