.form-input {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 450px;
    background-color: white;
    justify-content: space-evenly;
}

.form-input input {
    align-self: center;
}

body {
    background-color: #F2D055;
}
/* 
.form{
 
}

main {
    justify-content: center;
} */