
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --white: #FFF;
  --black: #000000;
  --green: #A0A603;
  --yellow: #D97904;
  --red: #BF0404;
  --dark-red: #590202;

}

body {
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 1.7px;
 
}

h2{
  color:var(--white);
}

.btn-primary{
  background-color:var(--yellow);
  border:none;
  box-shadow: none;
  transition: all 1s;
}


#btn-register:hover, #btn-signin:hover, #btn-signin:focus, #btn-register:active, #btn-signin:active{
  background-color: var(--red);
  box-shadow: none;
}







