* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #000000;
  --green: #a0a603;
  --yellow: #d97904;
  --red: #bf0404;
  --dark-red: #590202;
  --stroke:#464242;

}

$_DIRECTIONS: (top right bottom left);

@for $i from 1 through 100 {
  .margin-#{$i} {
    margin: #{$i}rem;
  }

  @each $direction in $_DIRECTIONS {
    .margin-#{$direction}-#{$i} {
      margin-#{$direction}: #{$i}rem;
    }
  }
}

html, body {
  height: 100vh;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 1.7px;
  width:100vw;
  height: 100vh;
}



h2 {
  color: var(--white);
}


.pages-container{
  width:100vw;
  height: 100vh;
  padding:2rem 3rem 2rem 3rem;
}

.hidden { 
  display: none 
}