@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap" rel="stylesheet');

body {
  margin: 0;
  font-family: 'Kaisei Tokumin', serif;
  font-weight: bold;
  font-size: 15px;
}

