@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap" rel="stylesheet');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Kaisei Tokumin", serif;
  font-weight: bold;
  font-size: 13px;
  background-color: var(--yellow);
}

:root {
  --yellow: #f2d055;
  --white: #ffffff;
  --light-gray: #e5e5e5;
  --red: #eb1919;
  --purple: #8544b9;
  --green: #31a708;
}
