@import './pages/Login/login.css';
@import './pages/Register/register.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --white: #ffffff;
    --ice: #DCDCDC;
    --black: #252525;
    --grey: #c1c1c1;
    --aqua: #2BBCBA;
    --green: #10A9A8;
    --pink: #A31163;
    --yellow: #DFB202;
    --orange: #D65500;
    --blue:#1158A9;
    --bege: #A5A066;
  }

  body {
    background-image: url('/src/assets/img/texture.png');
  }
   