*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    box-sizing: border-box;
}

.container-404 {
    display: flex;
    margin: 0;
    padding: 3rem;
    flex-direction: column;
    align-items: center;
    background-color: #03e5b7;
    background-image: linear-gradient(315deg, #03e5b7 0%, #037ade 74%); 
    height: 100vh;  
}

.bob-gif {
    max-width: 100%;
    padding: 1rem;
    border-radius: 100%;
    background-image: linear-gradient(360deg, #5567b9 0%, #289acf 53.12%, #3adaf0 100%);
    
}

.notFound-text{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 30px;
    color: whitesmoke;
}