*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    box-sizing: border-box;
}

.container-404 {
    display: flex;
    margin: 0;
    padding: 3rem;
    flex-direction: column;
    align-items: center;
    background-color: #03e5b7;
    background-image: linear-gradient(315deg, #03e5b7 0%, #037ade 74%); 
    height: 100vh;  
}

.not-found {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bob-gif {
    max-width: 100%;
    padding: 1rem;
    border-radius: 100%;
    background-image: linear-gradient(360deg, #5567b9 0%, #289acf 53.12%, #3adaf0 100%);
    
}

.notFound-text{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 30px;
    color: black;
    font-family: Bob; 
}

.Jelly-div-404{
    display: flex;
    padding: 0 3rem;
    flex-direction: row;
    justify-content: flex-start;
}

.jellyfish-img {
    width: 6.5rem;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}

.jellyfish-img:hover{
    -webkit-transform: scale(1.3);
    transform: scale(1.3);

}