:root {
	--white: #fff;
	--black: #000000;
	--green: #a0a603;
	--yellow: #d97904;
	--red: #bf0404;
	--dark-red: #590202;
	--light-gray: #292929;
	--dark-gray: #111111;
}

body {
	background-color: var(--dark-gray);
}

.cart-container {
	width: 27rem;
	height: 44rem;
	margin: 11rem 5rem 5rem 18rem;
	background-color: var(--light-gray);
	border-radius: 5px;
	color: white;
	font-size: 1.2em;

	h4 {
		margin-bottom: 0;
		font-weight: bold;
	}

	div {
		display: flex;
		padding-top: 1.7rem;
	}

	img {
		height: 24px;
	}

	hr {
		margin: 1rem 1rem;
	}

	p {
		font-weight: lighter;
	}
}

.subtitle-cart {
	display: flex;
	justify-content: space-between;
}

.total-area {
	display: flex;
	flex-direction: column;
	margin-top: 20rem;

	hr {
		margin: 0rem 0rem;
	}

	div {
		display: flex;
		justify-content: space-between;
	}
}

.btn-cart-confirm {
	padding: 0.5rem 2.5rem;

	&:hover {
		background-color: var(--green);
	}

}

.btn-cart-cancel {
	padding: 0.5rem 2.5rem;
    background-color:transparent;
    border: 1px solid var(--white);

	&:hover {
		background-color: var(--dark-red);
        border: 1px solid var(--dark-red);
	}

}

