.main {
    display: flex;
    flex-direction: row;
}

.left-side {
    @media screen and (min-width: 801px){
        width: 67%;
        height: 88vh;
        margin-top: 1.5vh;
    }
}

.right-side {
    @media screen and (min-width: 801px){
        width: 33%;
        height: 86vh;
    }
}

.products-list-perMeal {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2vh;

}

.select-menu-perMeal {
    display: flex;
    justify-content: space-around;
    margin: 2vh 0vh 3vh 0vh;

    @media (max-width: 768px) {
        display: none;
    }

    @media screen and (min-width: 801px){
        width: 70%;
    }

}


