.main {
    display: flex;
    flex-direction: row;
}

.left-side {
    @media screen and (min-width: 801px){
        width: 67%;
        height: 88vh;
        margin-top: 1.5vh;
    }
}

.right-side {
    @media screen and (min-width: 801px){
        width: 33%;
        height: 86vh;
    }
}

.products-list-perMeal {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2vh;

}

.select-menu-perMeal {
    display: flex;
    justify-content: space-around;
    margin: 2vh 0vh 3vh 0vh;

    @media (max-width: 768px) {
        display: none;
    }

    @media screen and (min-width: 801px){
        width: 70%;
    }

}

.form-inputs-order {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
}

.text-orders {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.input-order {
    height: 4vh;
    width: max-content;
    background-color: #ffff;
    color: black;
    border: none;
    border-radius: 4px;
    padding: 6px;
    margin: 4%;
    font-size: 1.1rem;
    text-align: center;
}

.input-order.table {
    width: 20%;
}

.input-order.clientName {
    width: 60%;
}
