@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;1,600&display=swap");
*{
    margin: 0;
    padding: 0;   
    background-color: #fef6d1;
  }
  
.not-found {
    position: relative;
    height: 100vh;
  }
  
  .not-found .not-found-main {
    position: absolute;
    width: 350px;
    height: 414px;
    left: 700px;
    top: 228px;
    color: black;
    font-family: Work Sans;
    text-align: center;
    font-weight: 700;
    font-size: 1.9rem;
  }

  .not-logo {
    position: absolute;
    width: 484px;
    height: 378px;
    left: 48px;
    top: 120px;
  }