
@import '../../styles/Global.scss';

.not-found-page{
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $dark-brown-bg;
  padding: 5%;

  img {
    height: 50vh;
    width: 50vh;
  }

  h1, h2 {
    text-align: center;
    color:$yellow-logo;
  }

  h1 {
    font-size: 600%;
    color:$orange-btn;
  }

  h2 {
    font-size: 200%;
    color:$yellow-logo;
  }
}

@media (min-width: 1024px) and (min-height: 1366px){
  .not-found-page{
    h2 {
      font-size: 280%;
    }
  }
}

@media (orientation: 'landscape') {
  .not-found-page{
    h2 {
      font-size: 280%;
    }
  }
}

@media (orientation: 'landscape') and (max-height: 768px){
  .not-found-page{
    h2 {
      font-size: 190%;
    }
  }
}
