
.container-notfound {
   background: no-repeat center;
   background-size: cover;
    
     width: 100px;
     height: 100px;
     /* object-fit: fill; */
   display: block;
   margin-left: auto;
   margin-right: auto
   
     /* text-align: center; */
     /* padding: none; */
} 

